h1{
    color: blue;
    background-color: blueviolet;
    padding: 100px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
  width: 300px;
    margin: 10px auto;
    text-align: center;
    border-width: 5px;
    border-color: rgb(109, 24, 63);
    border-style:double;
      background-image: linear-gradient(rgb(223, 5, 5), rgb(107, 11, 11));
      justify-self: center;
      justify-content: end;
      flex-wrap: wrap;
      display: contents;
}
{
  
}

    
}
